
.fundorosa {
    background-color: deeppink;
    height: 300px;
}
.fundoroxo {
    background-color: darkviolet;
 }
.fundoazul {
    background-color: cornflowerblue;
 }
.teal {
    background-color: teal;
    height: 300px;
}
.yellow {
    background-color: yellow;
}
.mediumvioletred {
    background-color: mediumvioletred;
}
.darkorange{
    background-color: darkorange;
}